html , body {
  height:100%;
  margin:0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;

}
 .navBar{
  font-family: 'Finger Paint', cursive;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #040404;
  border-bottom: 6px ridge #999;
  padding-bottom: 10px;
}
 .navBar ul{
  list-style-type: none;
}

.navBar li{
  float: right;
}
.navBar li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    margin-bottom: 20px;
    color: #ddd;
    font-weight: 400;
    font-size: 25px;
    transition: 2s
}
.navBar li a:hover {
color: green;
transform: rotate(10deg);
transition: 2s;
}
.logo span{
  font-weight: 400;
  font-size: 25px;
  color: white;
  margin: 0;
  padding: 10px 10px;
  text-shadow: 2px 2px #666;
}
.logo span:hover{
  transform: none;
}
.logo{
  transition: 2s;
  border: 5px solid white;
  padding: 10px 10px;
  top: 20px;
  left: 47px;
}
.logo:hover{
  border: 5px ridge green;
  transform: rotate(45deg);
  transition: 2s;
}

.logo{
  float: left;
  margin: 10px;
}

.highLights{
  text-shadow: 1px 1px black;
  font-style: italic;
  font-family: 'Finger Paint', cursive;
}
.jpg1 , .jpg2 , .jpg3 , .jpg4{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
  fixed = parallax
  scroll = normal
  */

  background-attachment: fixed;

}
.jpg1{
  background-image:url('../img/jpg4.jpg');
  min-height: 100%;

}
.jpg2{
  background-image:url('../img/jpg1.jpeg');
  min-height: 700px;
}
.jpg3{
  background-image:url('../img/jpg3.jpg');
  min-height: 700px;
}
.jpg4{
  background-image:url('../img/jpg2.jpg');
  min-height: 700px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #d4d4d4;
  color: #999;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}
.section > div {
  text-align: left;
}
.section > div h2{
text-align: center;
}
.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 37px;
  color: #888;
  text-shadow: 1px 1px 1px black;
}

.ptext .border{
  padding: 20px;
  border: 10px ridge #888;
}

.ptext .border.trans{
  background-color: transparent;
}
p{
    font-size: 1.2em;
    line-height: 2em;
    margin-bottom: 1.2em;
}

@media(max-width:568px){

  ul{
    padding: 0;
    text-align: center;
  }
  .navBar li{
    float: none;
    clear: both;
  }
  .jpg1 , .jpg2 , .jpg3 , .jpg4 {
    background-attachment: scroll;
    opacity: .85;
  }
  .navBar{
    position: relative;
    display: flex;
    justify-content: center;
  }
.logo{
  float: none;
  clear: both;
}
.logo:hover{
  transform: rotate(-20deg);
  border: 2px ridge orange;
}

.logoLetters span{
  text-align: center;
  transform: none;
}
  .navBar li a{
    font-size: 1em;
    line-height: .5em;
    margin-top: 10px;
    padding: 10px 0 0 0;
  }
  .navBar li a:hover {
  color: orange;
  transform: rotate(-10deg);
  }

  .jpg1{
    background-position: 80%;
  }
  p, h1,h2,h3{
    font-size: 1em;
  }
  .ptext{
    font-size: 1em;
  }
}
